<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>My site</title>
 
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/proj/question/">Ask a question</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/proj/question/">Home</a></li>
							<li><a href="#about">About</a></li>
						</ul>
                        {% if user.is_authenticated %}
						    <ul class="nav pull-right">
							    <li class="active"><a href="/proj/user/{{ user.id }}">{{ user }}</a></li>
                                <a class="btn" href="/proj/logout/">Log out</a></li>
	    					</ul>
                        {% else %}
						    <form class="navbar-form pull-right" action="/proj/login/" method="post">
                                {% csrf_token %}
        						<input class="span2" type="text" name="username" placeholder="Username">
	        					<input class="span2" type="password" name="password" placeholder="Password">

		        				<input type="submit" class="btn" value="Sign in">
                                <a class="btn" href="/proj/registration/">Registration</a>
						    </form>
                        {% endif %}
					</div> 
				</div>
			</div>
		</div>
        <hr>
        {% block content %}Empty page{% endblock %}
    </div>
	<div class="footer">
		<p>&copy; Designed by VK24 2014</p>
	</div>

    <script src="http://code.jquery.com/jquery.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	<script src="/static/bootstrap/js/bootstrap-min.js"></script>
</body>
</html>

