{% extends 'askproj/base.html' %}

{% block content %}

<hr>
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="/proj/login/">
    {% csrf_token %}

    {{ form }}
    <hr>
    <input type="submit" class="btn" value="Login"/>
</form>

{% endblock %}
