{%  extends "askproj/base.html" %}
{% block content %}
    <div class="row offset1">
        <h1>{{ question.header }}</h1>
        <p>{{ question.text }}</p>
    	<p><a class="text-info" >Author: </a><a href="{{ question.author.get_absolute_url }}">{{ question.author }}</a> <a class="date"> {{ question.creation_date }}</a></p>
    	<p><a class="text-info" >Views: </a>{{ question.views }}</p>
        <span>
        <tr>Tags: </tr>
        {% for tag in question.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
        {% endfor %}
        </span>
    </div>
    <div class="container span6">
        <div class="row">
            <h3>Answers</h3>
            {% for answer in question.answer_list %}
                <p>{{ answer.text }}</p>
                <p><a class="text-info">author: </a><a href="{{ answer.author.get_absolute_url }}">{{ answer.author }}</a> at <a class="date">{{ answer.creation_date }}</a></p>
                <hr>
            {% empty %}
                <p>Nobody answer it</p>
            {% endfor %}
        </div>
    </div> <!-- container -->
{% endblock %}


