{% extends 'askproj/base.html' %}

{% block content %}

<hr>
{% if form.errors %}
    {{ form.errors }}
{% endif %}

<form method="post" action="/proj/registration/">
    {% csrf_token %}

    {{ form }}
    <hr>
    <input type="submit" class="btn" value="Register"/>
</form>

{% endblock %}
