{%  extends "askproj/base.html" %}
{% block content %}
    <div class="container span6">
        <div class="row">
        {% for question in question_list %}
            <h2><a href="{{ question.get_absolute_url }}">{{ question.header }}</a></h2>
            <p>{{ question.text }}</p>
    		<p><a class="text-info">Author: </a><a href="{{ question.author.get_absolute_url }}">{{ question.author }} </a><a class="date"> {{ question.creation_date }}</a></p>
            <p>
                <a class="text-info">Tags: </a>
                {% for tag in question.tags.all %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                {% empty %}
                    no tags
                {% endfor %}
            </p>
    		<p><a class="btn" href="{{ question.get_absolute_url }}">View details &raquo;</a></p>
            <hr>
        {% empty %}
            <p>Questions absent</p>
        {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="pagination pagination-centered">
                <ul>
                {% if question_list.has_previous %}
                    <li><a href="?page={{ question_list.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                    
                    <li><a>{{ question_list.number }} / {{ question_list.paginator.num_pages }}</a></li>
                {% if question_list.has_next %}
                    <li><a href="?page={{ question_list.next_page_number }}">&raquo;</a></li>
                {% endif %}              
                </ul>
            </div>
        {% endif %}
    </div> <!-- container -->
{% endblock %}


