{%  extends "askproj/base.html" %}
{% block content %}
    <div class="row">
		<div class="span6">
			<h2>{{ myuser }}</h2>
			<p><a class = "text-info">Name: </a>{{ myuser.first_name }}</p>
			<p><a class = "text-info">Last Name: </a>{{ myuser.last_name }}</p>
			<p><a class = "e-mail">e-mail: </a>{{ myuser.email }}</p>
			<p><a class = "date">register date: </a>{{ myuser.date_joined }}</p>
    	    <p><a class="text-info" >Views: </a>{{ myuser.views }}</p>
			<!-- <p><a class="btn" href="#">Change data</a></p> -->
            {% if user.is_authenticated %}
                {% if user.id == myuser.id %}
                    <p>You are here</p>
                    <a href="#modal" role="button" class="btn" data-toggle="modal">Ask a question</a>
                    <script>
                        $('document').ready(function(){
                            $('modal').modal();
                        });
                    </script>
                    <div id="modal" class="modal hide">
                        <div class="modal-header">
                            <h2>Question form</h2>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/proj/question/create/">
                                {% csrf_token %}
    
                                {{ form.as_p }}
                                <hr>
                                <input type="submit" class="btn" value="Write"/>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <h3>Questions</h3>
            {% for question in myuser.question_list %}
                <p><a href="{{ question.get_absolute_url }}">{{ question }}</a></p>
            {% empty %}
                <p>This user still not ask a question</p>
            {% endfor %}
            <h3>Answers</h3>
            {% for answer in myuser.answer_list %}
                <p><a href="{{ answer.get_absolute_url }}">{{ answer }}</a></p>
            {% empty %}
                <p>This user still answer no question</p>
            {% endfor %}
        </div>
	</div>
{% endblock %}



